<ul class="list"></ul>
<div class="new-form">
  <form>
    <label> URL:
      <input type="text" name="feed[url]">
    </label>
    <br>
    <input type="submit" name="name" value="Create New">
  </form>
</div>
